<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>All Books</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <%# Renders a table of all available books. Expects 'availableBooks'. %>
  <header class="container">
    <h1>All Users</h1>
    <p><a href="/">← Back home</a></p>
  </header>

  <main class="container">
    <% if (!users || users.length === 0) { %>
      <section class="card">
        <p class="muted">No Users found.</p>
      </section>
    <% } else { %>
      <section class="card">
        <table class="table">
          <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
          </thead>
          <tbody>
          <% users.forEach((u, i) => { %>
            <tr>
        
              <td><%= i + 1 %></td>
              <td><%= u.first_name %> <%= u.last_name%></td>
              <td><%= u.email %></td>
            </tr>
          <% }) %>
          </tbody>
        </table>
      </section>
    <% } %>
  </main>
</body>
</html>
